.documentation {
  width: 80%;
  margin: auto;
}

h3 {
  padding: 1rem 1rem 0.5rem;
}

.APIrequestExample {
  padding: 1rem;
  margin-bottom: 1rem;
}

.apiDescription {
  margin-bottom: 1rem;
}

.prettyPrint {
  background-color: black;
  color: white;
  padding: 8px;
  /* width: 559px; */
  max-width: 650px;
  border-radius: 10px;
  overflow-wrap: break-word;
}

.heading {
  background: #677788;
  color: white;
  padding: 6px;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.info {
  padding: 1rem;
  border-top: 1px solid #d3d3d3;
}

