h3 {
  padding: 1rem 1rem 0.5rem;
}

.APIrequestExample {
  padding: 1rem;
  margin-bottom: 1rem;
}

.apiDescription {
  margin-bottom: 1rem;
}

.prettyPrint {
  background-color: black;
  color: white;
  padding: 8px;
  /* width: 559px; */
  max-width: 650px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.heading {
  background: #677788;
  color: white;
  padding: 4px;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.info {
  padding: 1rem;
}

