.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #282c34;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: black;
}

main {
  flex: 1 0 auto;
}

footer {
  height: 50px;
  background: brown;
  color: white;
}
