nav {
  background-color: #FFB700;
  padding: 0.6rem;
}

.navContent {
  width: 80%;
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: center;
}

.navLink {
  /* margin-right: 1rem; */
  font-size: 1.1rem;
  text-decoration: none;
  /* padding: 2.8px 6px; */
  padding: 2.8px 0.9rem;
  color: darkviolet;
  font-weight: 600;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navLink:hover {
  color: #fdec6e;
  color: white;
  /* text-shadow: 0px 0px 30px #fdec6e; */
  text-shadow:
  -1.1px -1.1px 2px darkviolet,
   1.1px -1.1px 2px darkviolet,
   -1.1px 1.1px 2px darkviolet,
    1.1px 1.1px 2px darkviolet,
    1px 0px 8px darkviolet;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (min-width: 640px) {
  .navContent {
    justify-content: left;
  }

  .navLink {
    padding: 2.8px 0.7rem;
    margin: 0.3rem;
  }
}

@media (min-width: 992px) {
  .navLink {
    padding: 2.8px 0.9rem;
    font-size: 1.2rem;
  }
}

