nav {
  background-color: #FFB700;
  padding: 1.5rem;
}

.navContent {
  width: 80%;
  padding: 1rem auto;
  display: flex;
  list-style: none;
}

.navLink {
  margin-right: 1rem;
  text-decoration: none;
  padding: 2.8px 6px;
  /* background: yellow; */
  color: darkviolet;
  font-weight: 700;
}

.navLink:hover {
  /* animation of sorts */
}

.navLink:visited {
  color: darkviolet;
}